<div class="d-flex">
   <app-sidebar></app-sidebar>
    <div class="container">
        <div class="row p-3">
            <div class="col">
                <h3>Buscar:</h3>
                <input 
                    type="text" 
                    class="form-control"
                    placeholder="Buscar Gifts...">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium odio maiores hic enim quis voluptates! Rem aspernatur culpa qui dolores harum, animi blanditiis minima a vero at, eos temporibus repellendus.
            </div>
        </div>
    </div>
</div>
